@font-face {
  font-family: "Monofonto";
  src: url("./assets/fonts/monofontorg.otf");
}

html {
  font-family: "Monofonto", monospace;
  font-size: 10px;
}

body {
  background-image: url("./assets/img/background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 2.5rem;
  color: $primary-color;
}

.light-theme {
  background-image: url("./assets/img/background-light.png");
  color: $primary-color-light;
  input[type="number"] {
    background-color: $secondary-color-light;
    color: $primary-color-light;
  }
}

input[type="number"] {
  background-color: $secondary-color;
  color: $primary-color;
  padding: 2px 5px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
