button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  padding: 5px 10px;
  color: $primary-color;
  &_control {
    border: 1px solid $primary-color;
    width: 100%;
  }

  &_active {
    border-bottom: 3px solid $primary-color;
  }

  &_new-game {
    border: 1px solid $primary-color;
    width: 160px;
  }

  &_back {
    border: 1px solid $primary-color;
    width: 160px;
  }

  &_flag {
    border: 1px solid $primary-color;
    background-image: url("./assets/img/explosion.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 55px;
    height: 55px;
    @include media-field {
      width: 40px;
      height: 40px;
    }
  }

  &_flag-active {
    background-image: url("./assets/img/flag.png");
    
  }

  &_menu {
    border: 1px solid $primary-color;
    width: 120px;
    display: none;
    @include media-controls {
      display: block;
    }
  }

  @include media-hover {
    &:hover {
      color: rgb(229, 222, 222);
    }
  }

  &:active {
    background-color: $primary-color;
    color: black;
  }
  &[data-action="toggle"] {
    color: transparent;
  }
}

.light-theme {
  .button {
    color: $primary-color-light;
    &_control {
      border: 1px solid $primary-color-light;
    }

    &_active {
      border-bottom: 3px solid $primary-color-light;
    }

    &_new-game {
      border: 1px solid $primary-color-light;
    }

    &_back {
      border: 1px solid $primary-color-light;
      width: 160px;
    }

    &_flag {
      border: 1px solid $primary-color-light;
    }

    &_flag-active {
      background-color: $primary-color-light;
    }

    @include media-hover {
      &:hover {
        color: rgb(229, 222, 222);
      }
    }

    &:active {
      background-color: $primary-color-light;
      color: black;
    }

    &[data-action="toggle"] {
      color: transparent;
    }

    &_menu {
      border: 1px solid $primary-color-light;
    }
  }
}
