button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;  
}

.button {
  padding: 5px 10px;
  color: $primary-color;
  &_control {    
    border: 1px solid $primary-color;
  }  

  &_active {
    border-bottom: 3px solid $primary-color;
  }
  
  @include media-hover {
    &:hover {
      color: rgb(213, 206, 206);
    }
  }

  &:active {
    background-color: $primary-color;
    color: black;
  }
}