.difficulty-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.difficulty-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 20px;
}

.mines-input {
  margin-left: 20px;
}