.field {
  user-select: none;
  width: 70%;
  margin: auto;
  height: 600px;
  width: 600px;
  @include media-field {
    width: 500px;
    height: 500px;
    font-size: 1.9rem;
  }

  @include media-field-mobile {
    width: 400px;
    max-height: 400px;
    font-size: 1.9rem;
  }

  &_easy {
    @include field($size: 10);
    font-size: 4rem;
    @include media-field {
      font-size: 2rem;
    }
  }

  &_medium {
    @include field($size: 15);
    font-size: 2.5rem;
    @include media-field {
      font-size: 1.5rem;
    }
  }

  &_hard {
    @include field($size: 25);
    font-size: 1.4rem;
    @include media-field {
      font-size: 1rem;
    }
  }
  
}

.cell {
  border: 2px solid $secondary-color;
  width: 100%;
  height: 100%;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  &[data-status="hidden"] {
    cursor: pointer;
    background-color: $secondary-color;
    @include media-hover {
      &:hover {
        border: 2px solid $primary-color;
      }
    }
  }

  &[data-status="opened"] {
    background-color: $primary-color;
    border: 2px solid $primary-color;
  }

  &[data-status="bomb"] {
    background-image: url("./assets/img/explosion.png");
    background-color: rgb(160, 18, 18);
    color: transparent;
  }

  &[data-status="flag"] {
    cursor: pointer;
    background-image: url("./assets/img/flag.png");
    background-color: $secondary-color;
    color: transparent !important;
    @include media-hover {
      &:hover {
        border: 2px solid $primary-color;
      }
    }
  }
  // @include media-field-mobile {
  //   width: 10px;
  //   height: 10px;
  //   font-size: 0.5rem;
  // }
}

.mines-hidden {
  color: $secondary-color !important;
}

.mines-1 {
  color: rgb(9, 9, 188);
}

.mines-2 {
  color: rgb(34, 130, 34);
}

.mines-3 {
  color: rgb(210, 11, 11);
}

.mines-4 {
  color: midnightblue;
}

.mines-5 {
  color: brown;
}

.mines-6 {
  color: teal;
}

.mines-7 {
  color: black;
}

.mines-8 {
  color: rgb(98, 96, 96);
}

.light-theme {
  .mines-hidden {
    color: $secondary-color-light !important;
  }

  .cell {
    &[data-status="hidden"] {
      cursor: pointer;
      background-color: $secondary-color-light;
      @include media-hover {
        &:hover {
          border: 2px solid $primary-color-light;
        }
      }
    }

    &[data-status="opened"] {
      background-color: $primary-color-light;
      border: 2px solid $primary-color-light;
    }

    &[data-status="flag"] {
      background-color: $secondary-color-light;
      color: transparent !important;
      @include media-hover {
        &:hover {
          border: 2px solid $primary-color-light;
        }
      }
    }
  }
}
