.infos {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c";
  row-gap: 20px;
}

.info {
  text-align: center;
  &:first-child {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
}
