.infos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a a"
    "b c";
  row-gap: 10px;
}

.info {
  text-align: center;
  &:first-child {
    grid-area: a;
  }
  &:nth-child(2) {
    grid-area: b;
  }
  &:nth-child(3) {
    grid-area: c;
  }
}


.controls {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}