.infos {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

.info {
  text-align: center;
  
}


.controls {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}