.header {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  column-gap: 10px;
}