.header {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  @include media-content {
    padding: 0 10px;
  }
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  column-gap: 10px;
}

.header-container {
  @include media-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    column-gap: 5%;
  }
}
