@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

@mixin field($size) {
  display: grid;
  grid-template-columns: repeat($size, 1fr);
  grid-template-rows: repeat($size, 1fr);
  grid-gap: 5px;
}


@mixin media-content() {
  @media (max-width: $content-width) {
    @content;
  }
}

@mixin media-controls() {
  @media (max-width: $controls-hide-width) {
    @content;
  }
}

@mixin media-field() {
  @media (max-width: $field-size-width) {
    @content;
  }
}

@mixin media-field-mobile() {
  @media (max-width: $field-mobile-width) {
    @content;
  }
}